.forum {
    margin-top: 50px;
}

.forum__title {
    font-size: 42px;
}

.forum__filter {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
}