.header {
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(15px);
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, .1);
    width: 100%;
    z-index: 10;
}

.header__wrapper {
    display: flex;
    gap: 85px;
    justify-content: space-between;
    height: 10vh;
}

.header__logo a {
    font-size: 36px;
    color: white;
    text-decoration: none;
}


.header__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    list-style: none;
}

.header__nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.header__login {
    display: flex;
    justify-content: center;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

.visible {
    opacity: 1;
    text-shadow: 2px 2px 30px white;
    transition: all 1s;
}